@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

* {
    margin: 0;
    padding: 0;
}

.landingPage {
    width: 100vw;
    background-color: #002BE7;

}

.landingPage .navBar {
    justify-content: space-between;

    position: sticky;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;

    background-color: black;
    width: 100vw;
    filter: opacity(90%);
    height: 3rem;

    & .image {
        user-select: none;
        margin-left: 1.5rem;
        margin-top: 0.5rem;

        & .hbo {
            height: 2rem;

        }
    }

    & .botoes {
        display: flex;
    }

    & .translate {
        /* user-select: none;  */
        background-color: black;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-top: 0.25rem;
        padding: 0.2rem;
        margin-bottom: 0.25rem;
        border-radius: 0.45rem;
        margin-right: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;


        & .transtale {
            border: none;
            width: 2rem;
            height: 2rem;
            color: white;
            filter: invert(100%);
            padding-right: 0.5rem;

        }

        & .translateText {
            color: white;
            margin: 0.2rem;
            margin-top: 0.5rem;
            font-weight: bold;
            font-size: 0.9rem;
        }
    }

    & .translateBlue {
        background-color: #002BE7;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-top: 0.25rem;
        padding: 0.2rem;
        margin-bottom: 0.25rem;
        border-radius: 0.45rem;
        margin-right: 1rem;
        padding: 1rem;

        & .translateText {
            color: white;
            font-weight: bold;
            font-size: 0.9rem;
        }
    }

    & .translateBlue:hover {
        background-color: #0021B2;
    }

    & .translate:hover {
        background-color: rgba(255, 255, 255, 0.205);
        border: none;
    }
}

.landingPage .hero {
    border-bottom: 10rem;
    height: 70vh;
    width: 100%;


    & .pretoEncima {
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.09567577030812324) 100%);
        height: 70vh;
        width: 100%;
        position: absolute;
        border-radius: 0 0 20rem 20rem;

        & .image {
            user-select: none;
            margin-left: 1.5rem;
            margin-top: 0.5rem;
    
            & .hbo {
                height: 2rem;
    
            }
        }

           
        }






        & .pretoEncima::after,
        .pretoEncima::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            background-image: conic-gradient(from var(--angle), #8202d8, #0021B2);
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            z-index: -1;
            padding: 3px;
            border-radius: 0 0 20rem 20rem;
            animation: 3s spin linear infinite;
        }

        & .pretoEncima::before {
            filter: blur(3rem);
            opacity: 0.75;
        }

        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            z-index: -1;
            border-radius: 0 0 20rem 20rem;

        }
    }

    @keyframes spin {
        from {
            --angle: 0deg;
        }

        to {
            --angle: 360deg;
        }
    }