*{
    margin: 0;
    padding: 0;
}

.landingPage{
    width: 100vw;
    display: flex;
    
    
}

.landingPage .navBar{
    justify-content: space-between;

    position: sticky;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    
    background-color: black;
    width: 100vw;
    filter: opacity(90%);
    height: 3rem;
    & .image{    
        user-select: none;
    margin-left: 1.5rem;   
    margin-top: 0.5rem;
     & .hbo{
        height: 2rem;

    }
    }
    & .botoes{
        display: flex;
    }

    & .translate {
         /* user-select: none;  */
         background-color: black;
         border: none;
         cursor: pointer;
         display: flex;
         align-items: center;
         margin-top: 0.25rem;
         padding: 0.2rem;
         margin-bottom: 0.25rem ;
         border-radius: 0.45rem;
         margin-right: 1rem;
         padding-left: 1rem;
         padding-right: 1rem;


        & .transtale{
            border: none;
            width: 2rem;
            height: 2rem;
            color: white;
            filter: invert(100%);
            padding-right: 0.5rem;

        }

        & .translateText{
            color: white;
            margin: 0.2rem;
            margin-top: 0.5rem;
            font-weight: bold;
            font-size: 0.9rem;
        }
    }

    & .translateBlue{
        background-color: #002BE7;
         border: none;
         cursor: pointer;
         display: flex;
         align-items: center;
         margin-top: 0.25rem;
         padding: 0.2rem;
         margin-bottom: 0.25rem ;
         border-radius: 0.45rem;
         margin-right: 1rem;
        padding: 1rem;

        & .translateText{
            color: white;
            font-weight: bold;
            font-size: 0.9rem;
        }
    }

    & .translateBlue:hover{
        background-color: #0021B2;
    }

    & .translate:hover {
        background-color: rgba(255, 255, 255, 0.205);
        border: none;
    }
}